@page "/"
@page "/dashboard"

<PageTitle>Dashboard</PageTitle>
<PagePretitle>
</PagePretitle>

<Row class="mt-1 row-deck row-cards">

    <h1>@label</h1>
</Row>

@code {
    private string label = "Dashboard";
}