<Navbar Darkmode>

    <a href="https://github.com/lswiderski/BudgetUnderControl.API" class="navbar-brand navbar-brand-autodark">
        <h2 class="mt-2">Budget Under Control</h2>
    </a><br />
        <a href="https://github.com/lswiderski/BudgetUnderControl.API" class="navbar-brand navbar-brand-autodark">
            <h3 >Admin Client</h3>
        </a>
   
    <NavbarMenu>
        <NavbarMenuItem Href="dashboard" Text="Dashboard">
            <MenuItemIcon>
                <Icon class="icon" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Href="users" Text="Users">
            <MenuItemIcon>
                <Icon class="icon" />
            </MenuItemIcon>
        </NavbarMenuItem>

    </NavbarMenu>
</Navbar>
