@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IAuthenticationService AuthenticationService

<ModalContainer />
<ToastContainer />
@if (AuthenticationService.User is { })
{
    <MainNavigation></MainNavigation>
}

<div class="page">
    <div class="content">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        if (AuthenticationService.User == null)
            Navigation.NavigateTo("sign-in");
    }
}